Repository ddev/ddev, pull requests merged in 2018-03, with the labels that each got.

#707 Allow override of mysql and php configuration, fixes #654
  Makefile
  cmd/ddev/cmd/logs_test.go
  docs/users/extend/customization-extendibility.md
  pkg/ddevapp/apptypes.go
  pkg/ddevapp/config.go
  pkg/ddevapp/config_test.go
  pkg/ddevapp/ddevapp.go
  pkg/ddevapp/drupal.go
  pkg/ddevapp/genericapp.go
  pkg/ddevapp/templates.go
  pkg/ddevapp/testdata/.ddev/config.yaml
  pkg/ddevapp/testdata/.ddev/mysql/utf.cnf
  pkg/ddevapp/testdata/.ddev/nginx-site.conf
  pkg/ddevapp/testdata/.ddev/php/my-php.ini
  pkg/fileutil/files.go
  pkg/fileutil/files_test.go
  pkg/fileutil/testdata/testfiles/one.txt
  pkg/fileutil/testdata/testfiles/two.txt
  pkg/version/version.go
Labels: actionable, needs docs, needs tests

#688 Documentation text review
  docs/developers/building-contributing.md
  docs/developers/surf-testmachine-setup.md
  docs/index.md
  docs/users/cli-usage.md
  docs/users/developer-tools.md
  docs/users/extend/custom-compose-files.md
  docs/users/extend/customization-extendibility.md
  docs/users/extending-commands.md
  docs/users/providers/pantheon.md
  docs/users/step-debugging.md
  docs/users/troubleshooting.md
Labels: actionable, needs docs

#753 Set COMPOSE_CONVERT_WINDOWS_PATHS to prevent Windows docker ddev-router failure, fixes #739
  pkg/ddevapp/ddevapp.go
  pkg/testcommon/testcommon.go
Labels: blocker
